/* Google fonts - Open Sans */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* colors */
$blue:rgba(79,192,210,1);
$green:rgba(82,210,154,1);
$yellow:rgba(231,196,104,0.7);
$orange:rgba(235,118,85,1);
$dark-bg:rgba(0,0,0,0.9);
$light-bg:rgba(255,255,255,0.1);
$text:rgba(255,255,255,0.9);
$teachers_cell_color: rgba(80, 80, 80, 1);


body {
  background:$dark-bg;
  font-family: 'Source Sans Pro', sans-serif;
  color: $text;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.main {
  margin-left: 150px;
  margin-right: 150px;
}

.table-wrapper:hover + p {
  box-shadow: 0 0 16px cyan;
}
.table-wrapper {
  max-height: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  background:$light-bg;
  color:$text;
  position:relative;
  overflow:auto;
}
//.table_wrapper:hover{
//  box-shadow: 0 -2px 10px cyan;
//}

.table-wrapper::-webkit-scrollbar {
  height:7px;
}
.table-wrapper::-webkit-scrollbar-track
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.table-wrapper::-webkit-scrollbar-thumb
{
  background-color: #a6c53b;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

table {
  table-layout: fixed;
  width:100%;
  position: relative;
  //border-collapse: collapse;
}

td:first-child {
  background-color: $teachers_cell_color;
}

thead tr td {
  position:sticky;
  top:0;
  background-color: $light-bg;
  height: 45px;
}

td {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 10px;
  user-select: none;
}
td:first-child, thead tr td:first-child {
  position:sticky;
  left:0;
  z-index:1;
}
thead tr td:first-child {
  background-color: $teachers_cell_color;
  box-sizing: border-box;
  border-left: 3px solid lighten($teachers_cell_color, 100%);
}

.small {
  font-size: 10px;
}
a {
  text-decoration: none;
  color: $text;
}
.footer {
  margin-top: 100px;
}
.textWithBlurredBg {
  height: 50px;
  width: 50px;
  position: relative;
}
.textWithBlurredBg img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: .3s;
}
.textWithBlurredBg:hover img {
  filter: blur(2px) brightness(60%);
  box-shadow: 0 0 16px cyan;
}
.textWithBlurredBg :not(img) {
  position: absolute;
  top: 10%;
  font-size: 8px;
  color: $text;
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: .3s;
  user-select: none;
}
.textWithBlurredBg:hover :not(img) {
  opacity: 1;
}

tbody tr:hover {
  background-color: lighten($dark-bg, 10%);
}
.blue-left-border {
  border-left: 3px solid $blue;
  box-sizing: border-box;
}
.green-left-border {
  border-left: 3px solid $green;
  box-sizing: border-box;
}
.yellow-left-border {
  border-left: 3px solid $yellow;
  box-sizing: border-box;
}
.orange-left-border {
  border-left: 3px solid $orange;
  box-sizing: border-box;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
.yellow {
  color: $yellow;
}
.orange {
  color: $orange;
}
.blue:hover {
  color: lighten($blue, 20%)
}
.green:hover {
  color: lighten($green, 20%);
}
.yellow:hover {
  color: lighten($yellow, 20%);
}
.orange:hover {
  color: lighten($orange, 20%);
}
td {
  text-align: center;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  //background-color: #555;
  box-shadow: 0 0 16px cyan;
}