/* Google fonts - Open Sans */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
/* colors */
body {
  background: rgba(0, 0, 0, 0.9);
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

tbody tr td{
  z-index: 0;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-left: 3%;
  margin-right: 3%;
}

.table-wrapper:hover + p {
  box-shadow: 0 0 16px cyan;
}

.table-wrapper {
  max-height: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  overflow: auto;
}

.table-wrapper::-webkit-scrollbar {
  height: 7px;
}

.table-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #a6c53b;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

table {
  table-layout: fixed;
  width: 100%;
  position: relative;
}

td:first-child {
  background-color: #505050;
}

thead tr td {
  position: sticky;
  top: 0;
  background-color: #505050;
  height: 45px;
}

td {
  width: 160px;
  height: 30px;
  border: none;
  padding-left: 10px;
  user-select: none;
}

td:first-child, thead tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
thead tr td:first-child {
  z-index: 2;
}

thead tr td:first-child {
  background-color: #505050;
  box-sizing: border-box;
  border-left: 3px solid white;
}

.small {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.footer {
  margin-top: 50px;
}

.textWithBlurredBg {
  height: 50px;
  width: 50px;
  position: relative;
}

.textWithBlurredBg img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
}

.textWithBlurredBg:hover img {
  filter: blur(2px) brightness(60%);
  box-shadow: 0 0 16px cyan;
}

.textWithBlurredBg :not(img) {
  position: absolute;
  top: 10%;
  font-size: 8px;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  user-select: none;
}

.textWithBlurredBg:hover :not(img) {
  opacity: 1;
}

tbody tr:hover {
  background-color: rgba(26, 26, 26, 0.9);
}

.blue-left-border {
  border-left: 3px solid #4fc0d2;
  box-sizing: border-box;
}

.green-left-border {
  border-left: 3px solid #52d29a;
  box-sizing: border-box;
}

.yellow-left-border {
  border-left: 3px solid rgba(231, 196, 104, 0.7);
  box-sizing: border-box;
}

.orange-left-border {
  border-left: 3px solid #eb7655;
  box-sizing: border-box;
}

.blue {
  color: #4fc0d2;
}

.green {
  color: #52d29a;
}

.yellow {
  color: rgba(231, 196, 104, 0.7);
}

.orange {
  color: #eb7655;
}

.blue:hover {
  color: #a0dde7;
}

.green:hover {
  color: #a3e7c9;
}

.yellow:hover {
  color: rgba(245, 230, 192, 0.7);
}

.orange:hover {
  color: #f6c0b0;
}

td {
  text-align: center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  box-shadow: 0 0 16px cyan;
}

#teachers-table tr td:first-child:hover {
  background-color: #eb7655;
}
#classes-table tr td:first-child:hover {
  background-color: #eb7655;
}